@using KeepOnCodingAcademy.DataAccess.Models

@{
    ViewData["Title"] = "Home Page";
}

@model KeepOnCodingAcademy.Web.Models.CodeRunModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

        @using (Html.BeginForm("RunCode", "Home", FormMethod.Post))
    {
        @Html.TextAreaFor(model => model.Code)
        @Html.ValidationMessageFor(model => model.Code)
        <button type="submit">Run</button>
    }

    <h3>Passing Data From Controller to View using ViewBag</h3>  

    <ul>
        @foreach (var question in ViewBag.QuestionList)
        {
            <li>Prompt @question.Id: @question.Prompt</li>
        }
    </ul>
    <h3>Success? @ViewBag.Success</h3>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
