
@{
    ViewData["Title"] = "Question";
}

@model KeepOnCodingAcademy.Web.Models.CodeRunModel

<h4>@ViewBag.Question.Id. @ViewBag.Question.Title</h4>

<h6>@ViewBag.Question.Prompt</h6>
    @using (Html.BeginForm("RunCode", "Home", FormMethod.Post))
{
    <select name="language">
        <option value="1">Python</option>
        <option value="2">JavaScript</option>
        <option value="3">Java</option>
    </select>

    @Html.TextAreaFor(model => model.Code)
    @Html.ValidationMessageFor(model => model.Code)
    <button type="submit">Run</button>
}